@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: red;
  --color-secondary: teal;
}

* {
  font-family: "Inter", sans-serif;
}

/* for nav active */
.nav-new ul a.active {
  @apply bg-accent text-white;
}

/* From Uiverse.io by NomNomcats */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 6em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.6em;
  width: 1.6em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  transition: 0.4s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.switch input:checked + .slider {
  background-color: #4cc9f0;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #4cc9f0;
}

.switch input:checked + .slider:before {
  transform: translateX(4em);
  background-color: #4cc9f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Add some cool effects */
.slider:after {
  content: "Income";
  color: white;
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em;
  transition: opacity 0.4s;
  opacity: 1;
}

.switch input:checked + .slider:after {
  content: "Expense";
  left: 0.5em;
  opacity: 1;
  right: auto;
}
